<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SharpForum - @ViewBag.Title</title>
    @*<link rel="stylesheet" type="text/css" href="../../Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../Content/css/style.css">*@
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm navbar-dark bg-info">
            @Html.ActionLink("SharpForum", "All", "Category", new { Area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav mr-auto">
                    <li>@Html.ActionLink("Home", "All", "Category", new { Area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Topics<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Search", "Search", "Topic", new { Area = "" }, new { @class = "dropdown-item" })</li>
                            <li>@Html.ActionLink("Latest", "Latest", "Topic", new { Area = "" }, new { @class = "dropdown-item" })</li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Users<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Search", "Search", "User", new { Area = "" }, new { @class = "dropdown-item" })</li>
                            <li>@Html.ActionLink("All", "All", "User", new { Area = "" }, new { @class = "dropdown-item" })</li>
                        </ul>
                    </li>
                    @Html.Partial("_UserMenuPartial")
                    @Html.Partial("_AdminMenuPartial")
                </ul>
            </div>
        </nav>
    </div>

    <!-- Content Goes Here -->
    <div class="container body-content my-2">
        @RenderBody()

        <footer>
            <p class="text-muted">Sharp<strong>Forum</strong> @DateTime.Now.Year<br /><small>Made by: Daniel<strong>Ignatov</strong></small></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>