@using Microsoft.AspNet.Identity
@using SharpForum.Models.ViewModels
@model IEnumerable<CategoryViewModel>

@{
    ViewBag.Title = "Home";
}

<div class="list-group">
    @{ foreach (var category in Model)
        {
            if (category.IsSuperCategory == false)
            {
                <a href="/Category/@category.Id" class="list-group-item">
                    <div class="row">
                        <div class="col-sm-6">
                            <strong>@category.Name</strong>
                            <br>
                            <small>@category.Description</small>
                        </div>
                        <div class="hidden-xs col-sm-6">
                            <small>@category.TopicsCount topics</small>
                            <br>
                            <small>@category.RepliesCount replies</small>
                        </div>
                    </div>
                </a>
            }
            else
            {
                <div class="list-group-item list-group-item-info"><strong>@category.Name</strong></div>
            }
        }
    }
</div>