@model SharpForum.Models.ViewModels.CategoryViewModel

@{
    ViewBag.Title = "Edit Category";
}

<div class="list-group">
    <!-- Edit Category Header -->
    <div class="list-group-item list-group-item-info">
        <strong>Edit Category</strong>
    </div>
    <!-- category -->
    <div class="list-group-item">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                @using (Html.BeginForm("Edit", "CategoryAdministration", new { area = "Admin" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Edit category.</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(m => m.Description, new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(m => m.Priority, new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(m => m.Priority, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(m => m.IsCategoryPlaceholder, new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            @Html.CheckBoxFor(m => m.IsCategoryPlaceholder, new { @class = "checkbox" })
                        </div>
                    </div>
                    @Html.HiddenFor(m => m.Id, new { @value = ViewContext.RouteData.Values.FirstOrDefault() })
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-default" value="Edit" />
                        </div>
                    </div>
                }

                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
                <!-- /form -->
            </div>
        </div>
    </div>
</div>