@using SharpForum.App.Extentions
@model SharpForum.Models.ViewModels.CategoryTopicsViewModel

@{
    ViewBag.Title = "Category";
}

<!-- <h2>Category</h2> -->

<!-- TODO -->

<!-- start - if authorised - show new topic button -->

@{ 

}

<!-- end - if authorised -->

<div class="list-group">
    <div class="list-group-item list-group-item-info"><strong>@Model.Category.Name</strong><br /><small>@Model.Category.Description</small></div>
    @{ foreach (var topic in Model.Topics)
        {
            <a href="/Topic/@topic.Id" class="list-group-item">
                <div class="row">
                    <div class="col-sm-6">
                        <strong>@topic.Title</strong>
                        <br>
                        <small>Created by <strong>@topic.AuthorUsername</strong></small>
                    </div>
                    <div class="hidden-xs col-sm-6">
                        <small>Published on @topic.PublishDate.ToShortDateString()</small>
                        <br>
                        <small>@topic.RepliesCount replies</small>
                    </div>
                </div>
            </a>
        }
    }
</div>