@model SharpForum.Models.ViewModels.User.UserViewModel

@{
    ViewBag.Title = "User";
}

<div class="list-group">
    <!-- User Header -->
    <div class="list-group-item list-group-item-info">
        <strong>User Profile</strong>
    </div>
    <!-- User Profile -->
    <div class="list-group-item">
        <div class="row">
            <!-- Profile info column -->
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <p class="text-center"><a href="/userprofile/@Model.UserId"><strong>@Model.UserName</strong></a><br><small>@Model.RoleTitle</small></p>
                <p class="text-center"><img src="@Model.AvatarUrl" alt="User avatar" class="img-thumbnail img-responsive center-block" style="width: 150px;"></p>
                <p class="small text-center"><i class="fas fa-calendar-alt fa-sm"></i> Registration date: @Model.DateOfRegistration.ToString("dd/MM/yyyy")</p>
                <p class="small text-center"><i class="fas fa-comment-alt fa-sm"></i> Forum messages: @Model.TotalMessagesCount</p>
                @if (Model.LivingLocation != null)
                {
                    <p class="small text-center"><i class="fas fa-map-marker-alt fa-sm"></i> From: @Model.LivingLocation</p>
                }
                @if (Model.WebsiteUrl != null)
                {
                    <p class="small text-center"><i class="fas fa-globe-americas fa-sm"></i> User website: <a href="@Model.WebsiteUrl" title="User website">Link</a></p>
                }
            </div>
            <!-- Topic content -->
            <div class="col-xs-8 col-sm-7 col-md-7 col-lg-7">
                <h2>About me</h2>
                <hr>
                <p>
                    @Model.AboutMe
                </p>
                <!-- User signature is here if he has one -->
                <h2>Forum signature</h2>
                <hr>
                <p class="small">@Model.ForumSignature</p>
                <!-- Admin buttons -->
                @if (User.IsInRole("Admin"))
                {
                    <p class="text-right">
                        @Html.Partial("_AdminUserMenu", Model.UserId)
                    </p>
                }
            </div>
        </div>
    </div>
</div>