@using SharpForum.App.Extentions
@model SharpForum.Models.ViewModels.Topic.ShowTopicsAuthorsRepliesAuthorsViewModel

@{
    ViewBag.Title = "Search Topics";
}

<div class="list-group">
    <!-- Search Form Header -->
    <div class="list-group-item list-group-item-info">
        <strong>Search Topics</strong>
    </div>
    <!-- Search Form -->
    <div class="list-group-item">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                <form class="form" role="search">
                    <div class="form">
                        @if (Request.QueryString["searchTerm"] == null)
                        {
                            <input type="text" class="form-control" placeholder="Search topic" name="searchTerm" id="searchTerm">
                        }
                        else
                        {
                            <input type="text" class="form-control" placeholder="Search topic" name="searchTerm" id="searchTerm" value="@Request.QueryString["searchTerm"]">
                        }
                        <label for="includeContent">Include topic content</label>
                        @Html.CheckBoxSimple("includeContent", Request.QueryString["includeContent"].AsBool())
                        <br />
                        <label for="includeReplies">Include replies content</label>
                        @Html.CheckBoxSimple("includeReplies", Request.QueryString["includeReplies"].AsBool())
                        <div class="btn btn-block">
                            <button class="btn btn-default" type="submit">Search!</button>
                        </div>
                    </div>
                </form>
                <!-- /form -->
            </div>
        </div>
    </div>
</div>

@if (Model.Topics != null)
{
    if (Model.Topics.Any())
    {
        <div class="list-group">
            <div class="list-group-item list-group-item-info"><strong>Topics</strong></div>
            @{ foreach (var topic in Model.Topics)
                {
                    <a href="/topic/@topic.Topic.Id" class="list-group-item">
                        <div class="row">
                            <div class="col-sm-6">
                                <strong>@topic.Topic.Title</strong>
                                <br>
                                <small>Created by @topic.Author.UserName</small>
                            </div>
                            <div class="hidden-xs col-sm-6">
                                <small>Replies count: @topic.Topic.RepliesCount</small>
                                <br>
                                <small>Published on @topic.Topic.PublishDate.ToShortDateString()</small>
                            </div>
                        </div>
                    </a>
                }
            }

            @* Pagination *@
            @if (Model.Pagination.EndPage > 1)
            {
                <ul class="pagination">
                    @if (Model.Pagination.CurrentPage > 1)
                    {
                        <li>
                            <a href="~/Topics/Search?searchTerm=@Request.QueryString["searchTerm"]">First</a>
                        </li>
                        <li>
                            <a href="~/Topics/Search?searchTerm=@Request.QueryString["searchTerm"]&pageId=@(Model.Pagination.CurrentPage - 1)">Previous</a>
                        </li>
                    }

                    @for (var page = Model.Pagination.StartPage; page <= Model.Pagination.EndPage; page++)
                    {
                        <li class="@(page == Model.Pagination.CurrentPage ? "active" : "")">
                            <a href="~/Topics/Search?searchTerm=@Request.QueryString["searchTerm"]&pageId=@page">@page</a>
                        </li>}

                    @if (Model.Pagination.CurrentPage < Model.Pagination.TotalPages)
                    {
                        <li>
                            <a href="~/Topics/Search?searchTerm=@Request.QueryString["searchTerm"]&pageId=@(Model.Pagination.CurrentPage + 1)">Next</a>
                        </li>
                        <li>
                            <a href="~/Topics/Search?searchTerm=@Request.QueryString["searchTerm"]&pageId=@(Model.Pagination.TotalPages)">Last</a>
                        </li>
                    }
                </ul>
            }
        </div>
                }
                else
                {
                    <div class="list-group">
                        <div class="list-group-item list-group-item-danger"><strong>No results</strong></div>
                    </div>
                }
                }
