@using Microsoft.AspNet.Identity
@model SharpForum.Models.ViewModels.Topic.TopicAuthorRepliesAuthorsViewModel

@{
    ViewBag.Title = "Topic";
}

@{
    @Html.Partial("_NewTopicNewReplyButtonsPartial", Model)
}

<div class="list-group">
    <!-- Topic Header -->
    <div class="list-group-item list-group-item-info">
        <strong>Topic</strong>
    </div>
    <!-- Topic -->
    <div class="list-group-item">
        <div class="row">
            <!-- Author of topic info column -->
            <div class="hidden-xs hidden-sm col-md-2 col-lg-2">
                <p class="text-center"><a href="/userprofile/@Model.Author.UserId"><strong>@Model.Author.UserName</strong></a><br><small>@Model.Author.RoleTitle</small></p>
                <p class="text-center"><img src="@Model.Author.AvatarUrl" alt="User avatar" class="img-thumbnail img-responsive center-block" style="width: 150px;"></p>
                <p class="small text-center"><span class="glyphicon glyphicon-comment gi-0p8x"></span> @Model.Author.TotalMessagesCount</p>
                <p class="text-center">
                    <a href="/userprofile/@Model.Author.UserId" title="User profile"><span class="glyphicon glyphicon-user"></span></a>
                    @if (Model.Author.WebsiteUrl != null)
                    {
                        <a href="@Model.Author.WebsiteUrl" title="User website"><span class="glyphicon glyphicon-globe"></span></a>
                    }
                    else
                    {
                        <span class="glyphicon glyphicon-globe"></span>
                    }
                </p>
            </div>
            <!-- Topic content -->
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <p class="small text-left text-muted">
                            <span class="glyphicon glyphicon-home gi-0p8x"></span> <a href="/categories/all">Home</a>
                            <span class="glyphicon glyphicon-chevron-right gi-0p8x"></span> <a href="/category/@Model.Topic.CategoryId">@Model.Topic.CategoryName</a>
                            <span class="glyphicon glyphicon-chevron-right gi-0p8x"></span> <a href="/topic/@Model.Topic.Id">@Model.Topic.Title</a>
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <p class="small text-right text-muted">Created on @Model.Topic.PublishDate.ToShortDateString() by <a href="/userprofile/@Model.Author.UserId">@Model.Author.UserName</a>, @Model.Replies.Count() replies</p>
                    </div>
                </div>

                <h2>@Model.Topic.Title</h2>
                <hr>
                <p>
                    @Model.Topic.Content
                </p>
                <!-- User signature is here if he has one -->
                @if (Model.Author.ForumSignature != null)
                {
                    <hr>
                    <p class="small">@Model.Author.ForumSignature</p>
                }
                <!-- Moderator buttons -->
                @if (User.IsInRole("Moderator") || User.IsInRole("Admin"))
                {
                    <p class="text-right">
                        @Html.Partial("_ModeratorTopicMenu")
                    </p>
                }
            </div>
        </div>
    </div>
    <!-- Replies Header -->
    <div class="list-group-item list-group-item-info">
        <strong>Replies</strong>
    </div>
    <!-- Replies start from here -->
    @if (Model.Replies.Count() == 0)
    {
        <div class="list-group-item">
            <div class="row">
                    <p class="text-center">No replies on this topic. Be the first to reply.</p>
                <!-- IF LOGGED IN, MAKE PARTIAL, send model - todo-->
                <div class="col-md-2 col-md-offset-5">
                    <a href="/Reply/New/@Model.Topic.Id" class="btn btn-primary btn-block" role="button">New Reply</a>
                </div>
            </div>
        </div>
    }
    else
    {
        foreach (var reply in Model.Replies)
        {
            <div class="list-group-item">
                <div class="row">
                    <!-- Author of reply info column -->
                    <div class="hidden-xs hidden-sm col-md-2 col-lg-2">
                        <p class="text-center"><a href="/userprofile/@reply.Author.UserId"><strong>@reply.Author.UserName</strong></a><br><small>@reply.Author.RoleTitle</small></p>
                        <p class="text-center"><img src="@reply.Author.AvatarUrl" alt="User avatar" class="img-thumbnail img-responsive center-block" style="width: 150px;"></p>
                        <p class="small text-center"><span class="glyphicon glyphicon-comment gi-0p8x"></span> @reply.Author.TotalMessagesCount</p>
                        <p class="text-center">
                            <a href="/userprofile/@reply.Author.UserId" title="User profile"><span class="glyphicon glyphicon-user"></span></a>
                            @if (reply.Author.WebsiteUrl != null)
                    {
                                <a href="@reply.Author.WebsiteUrl" title="User website"><span class="glyphicon glyphicon-globe"></span></a>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-globe"></span>
                            }
                        </p>
                    </div>
                    <!-- Reply content -->
                    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10" id="replyid-@reply.Reply.Id">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <p class="small text-left text-muted">
                                    <span class="glyphicon glyphicon-link gi-0p8x"></span> <a href="#replyid-@reply.Reply.Id">Anchor Link</a>
                                </p>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <p class="small text-right text-muted">Replied on @reply.Reply.PublishDate.ToShortDateString() by <a href="/userprofile/@reply.Author.UserId">@reply.Author.UserName</a></p>
                            </div>
                        </div>
                        <br>
                        <p>
                            @reply.Reply.Content
                        </p>
                        <!-- User signature is here if he has one -->
                        @if (reply.Author.ForumSignature != null)
                        {
                            <hr>
                            <p class="small">@reply.Author.ForumSignature</p>
                        }
                        <!-- Moderator buttons -->
                        @if (User.IsInRole("Moderator") || User.IsInRole("Admin"))
                        {
                            <p class="text-right">
                                @Html.Partial("_ModeratorReplyMenu", new object[] { reply.Reply.Id, Model.Topic.Id })
                            </p>
                        }
                    </div>
                </div>
            </div>
        }
    }
</div>

@{
    @Html.Partial("_NewTopicNewReplyButtonsPartial", Model)
}