@model SharpForum.Models.ViewModels.UserViewModel

@{
    ViewBag.Title = "User";
}

<div class="list-group">
    <!-- User Header -->
    <div class="list-group-item list-group-item-info">
        <strong>User Profile</strong>
    </div>
    <!-- User Profile -->
    <div class="list-group-item">
        <div class="row">
            <!-- Profile info column -->
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <p class="text-center"><a href="/userprofile/@Model.Id"><strong>@Model.Username</strong></a><br><small>UserRole <!--todo--></small></p>
                <p class="text-center"><img src="@Model.AvatarUrl" alt="User avatar" class="img-thumbnail img-responsive center-block" style="width: 150px;"></p>
                <p class="small text-center"><span class="glyphicon glyphicon-calendar gi-0p8x"></span> Registration date: @Model.DateOfRegistration.ToShortDateString()</p>
                <p class="small text-center"><span class="glyphicon glyphicon-comment gi-0p8x"></span> Forum messages: @Model.TotalMessagesCount</p> <!--toinspect if work-->
                <p class="small text-center"><span class="glyphicon glyphicon-map-marker gi-0p8x"></span> From: @Model.LivingLocation</p>
                <p class="small text-center"><span class="glyphicon glyphicon-globe gi-0p8x"></span> User website: <a href="@Model.WebsiteUrl" title="User website">Link</a></p>
            </div>
            <!-- Topic content -->
            <div class="col-xs-8 col-sm-7 col-md-7 col-lg-7">
                <h2>About me</h2>
                <hr>
                <p>
                    @Model.AboutMe
                </p>
                <!-- User signature is here if he has one -->
                <h2>Forum signature</h2>
                <hr>
                <p class="small">@Model.Signature</p>
            </div>
        </div>
    </div>
</div>