@model SharpForum.Models.ViewModels.Reply.ReplyViewModel

@{
    ViewBag.Title = "Edit Reply";
}

<div class="list-group">
    <!-- Edit Reply Header -->
    <div class="list-group-item list-group-item-info">
        <strong>Edit Reply</strong>
    </div>
    <!-- Edit Reply Form -->
    <div class="list-group-item">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                @using (Html.BeginForm("Edit", "ReplyModeration", new { area = "Moderator" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Edit reply.</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Content, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Content, new { @class = "form-control", @value = Model.Content })
                        </div>
                    </div>
                    @Html.HiddenFor(m => m.TopicId, new { @value = Model.TopicId })
                    @Html.HiddenFor(m => m.Id, new { @value = ViewContext.RouteData.Values.FirstOrDefault() })
                    <div class="form-group">
                        <div class="offset-md-2 col-md-10">
                            <input type="submit" class="btn btn-default" value="Edit" />
                        </div>
                    </div>
                }

                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
                <!-- /form -->
            </div>
        </div>
    </div>
</div>